.article {
    width: 500px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgb(179, 179, 179);
}

.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 2.1px;
}

.image {
    border-radius: 10px;
}